body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background: #22c55e;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

.produto {
  margin: 10px;
  padding: 10px;
  background: #1e293b;
}
